---
layout: layouts/base.njk
---
<div class="content">

{%- if params and params.uploadsBaseURL and (filepathPreview or filepathOriginal) %}
<img src="{{ params.uploadsBaseURL }}{% if filepathPreview %}{{ filepathPreview }}{% else %}{{ filepathOriginal }}{% endif %}" alt="{{ title }}" title="{{ title }}" class="image preview" />
{%- endif %}

{{ content | safe }}

{%- set galleryTag = "gallery/" + gallerySlug %}
{%- set photos = collections.photo | getItemsForTag(galleryTag) %}
{%- set prevPhoto = photos | getPreviousCollectionItem(page) %}
{%- set nextPhoto = photos | getNextCollectionItem(page) %}

{%- if prevPhoto or nextPhoto %}
{% include "components/photo_prev_next.njk" %}
{%- endif %}

</div><!-- /.content -->
