---
layout: layouts/base.njk
---
{%- if params.uploadsBaseURL and coverImageFilepath %}
<p class="library-image"><img src="{{ params.uploadsBaseURL }}{{ coverImageFilepath }}" alt="{{ title }}" title="{{ title }}" /></p>
{%- endif %}

<div class="submitted">{{ date | readableDateMonthYear }}.</div>

<div class="content">

{{ content | safe }}

{%- include "components/game_detail.njk" %}

</div><!-- /.content -->
