---
layout: layouts/base.njk
pagination:
  data: collections.news
  size: 10
  alias: newsItems
  reverse: true
  pageOnEmptyData: true
---
<div class="content">

{{ content | safe }}

{%- if newsItems.length %}

{% include "components/news_listing.njk" %}

{% include "components/pagination.njk" %}
{%- else %}

<p><em>No news items found.</em></p>

{%- endif %}

</div><!-- /.content -->
