{%- set pageUrlRegExp = r/^\/(news|gallery|library|interests|guestbook)\/[^\/]+\/.*$/ %}
{%- if pageUrlRegExp.test(page.url) %}

<div class="breadcrumb">
<a href="/">Home</a>

{%- set newsRegExp = r/^\/news\/[^\/]+\/$/ %}
{%- set galleryRegExp = r/^\/gallery\/[^\/]+\/.*$/ %}
{%- set libraryRegExp = r/^\/library\/[^\/]+\/.*$/ %}
{%- set interestsRegExp = r/^\/interests\/[^\/]+\/.*$/ %}
{%- set gbookRegExp = r/^\/guestbook\/[^\/]+\/.*$/ %}

{%- if newsRegExp.test(page.url) %}
  &raquo; <a href="/news/">News</a>
{%- elif galleryRegExp.test(page.url) %}
  &raquo; <a href="/gallery/">Gallery</a>

  {%- set parentGallery = collections.childgallery | getParentPage(page.url) %}
  {%- if parentGallery %}
    {%- if parentGallery %}
      {%- set grandParentGallery = collections.toplevelgallery | getParentPage(parentGallery.url) %}
      {%- if grandParentGallery %}
    &raquo;  <a href="{{ grandParentGallery.url | url }}">{{ grandParentGallery.data.title }}</a>
      {%- endif %}
    &raquo;  <a href="{{ parentGallery.url | url }}">{{ parentGallery.data.title }}</a>
    {%- endif %}
  {%- else %}
    {%- set parentGallery = collections.toplevelgallery | getParentPage(page.url) %}
    {%- if parentGallery %}
    &raquo;  <a href="{{ parentGallery.url | url }}">{{ parentGallery.data.title }}</a>
    {%- endif %}
  {%- endif %}
{%- elif libraryRegExp.test(page.url) %}
  &raquo; <a href="/library/">Library</a>

  {%- set writingsRegExp = r/^\/library\/writings\/.+$/ %}
  {%- if writingsRegExp.test(page.url) %}
    &raquo; <a href="/library/writings/">Writings</a>

    {%- set runringsRegExp = r/^\/library\/writings\/running-rings\/.+$/ %}
    {%- if runringsRegExp.test(page.url) %}
      &raquo; <a href="/library/writings/running-rings/">Running Rings</a>
    {%- endif %}

    {%- set isrdiaryRegExp = r/^\/library\/writings\/israel-diary\/.+$/ %}
    {%- if isrdiaryRegExp.test(page.url) %}
      &raquo; <a href="/library/writings/israel-diary/">Israel diary</a>
    {%- endif %}
  {%- endif %}

  {%- set booksRegExp = r/^\/library\/books\/.+$/ %}
  {%- set booksPagedRegExp = r/^\/library\/books\/page\/\d+\/$/ %}
  {%- if booksRegExp.test(page.url) and not booksPagedRegExp.test(page.url) %}
    &raquo; <a href="/library/books/">Books</a>

    {%- set bookCategoriesRegExp = r/^\/library\/books\/categories\/.+$/ %}
    {%- if bookCategoriesRegExp.test(page.url) %}
      &raquo; <a href="/library/books/categories/">Categories</a>
    {%- endif %}
  {%- endif %}
{%- elif interestsRegExp.test(page.url) %}
  &raquo; <a href="/interests/">Interests</a>

  {%- set gamesRegExp = r/^\/interests\/games\/.+$/ %}
  {%- set gamesPagedRegExp = r/^\/interests\/games\/page\/\d+\/$/ %}
  {%- if gamesRegExp.test(page.url) and not gamesPagedRegExp.test(page.url) %}
    &raquo; <a href="/interests/games/">Games</a>

    {%- set gameCategoriesRegExp = r/^\/interests\/games\/categories\/.+$/ %}
    {%- if gameCategoriesRegExp.test(page.url) %}
      &raquo; <a href="/interests/games/categories/">Categories</a>
    {%- endif %}
  {%- endif %}
{%- elif gbookRegExp.test(page.url) %}
  &raquo; <a href="/guestbook/">Guestbook</a>

  {%- set gbookEntriesRegExp = r/^\/guestbook\/entries\/.+$/ %}
  {%- set gbookEntriesPagedRegExp = r/^\/guestbook\/entries\/page\/\d+\/$/ %}
  {%- if gbookEntriesRegExp.test(page.url) and not gbookEntriesPagedRegExp.test(page.url) %}
    &raquo; <a href="/guestbook/entries/">Entries</a>
  {%- endif %}
{%- endif %}

</div><!-- /.breadcrumb -->

{%- endif %}
