<p>
  {% set navPages = collections.all | eleventyNavigation %}
  {%- for entry in navPages %}
    {%- set truncatedNavUrl = page.url | truncate(entry.url.length, true, "") %}
    [<a href="{{ entry.url | url }}"{% if entry.url === page.url or (entry.url !== "/" and entry.url === truncatedNavUrl) %} class="active"{% endif %}>{{ entry.title }}</a>]
  {%- endfor %}
</p>

<p>&copy; 1998-{{ datetime.currentYear }} Jeremy Epstein.</p>
