<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
  <title>{% if not isFront %}{{ renderData.title or title }} - {% endif %}{{ metadata.title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="imagetoolbar" content="false" />

  <meta name="keywords" content="{{ metadata.keywords }}" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />

  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" charset="utf-8" />

  <script type="text/javascript" src="/js/modernizr-custom.js"></script>
  <script type="text/javascript" src="/js/respond.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jq-rollover.js"></script>

{{ head | safe }}
</head>
<body>

<div id="wrapper">
  <div id="wrapper2">
