    <div id="bottom-border">

      <div id="bottom-left"></div>
      <div id="bottom-right"></div>

    </div> <!-- bottom-border -->

  </div> <!-- wrapper2 -->
</div> <!-- wrapper -->

</body>
</html>
