<nav role="navigation">
  {% set navPages = collections.headerNavPages | eleventyNavigation %}

  <ul>
  {%- for entry in navPages %}
    <li class="{% if entry.url == page.url %}active{% endif %}{% if loop.first %} first{% elif loop.last %} last{% endif %}">
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} class="active"{% endif %}>
        <img src="/img/nav/{{ entry.key }}.gif" />
      </a>
    </li>
    {%- if loop.index0 === (loop.length // 2) - 1 %}
    <li><img src="/img/nav/star.gif" alt="Navigate by the star" />
    {%- for e in navPages %}
      <img src="/img/nav/{{ e.key }}-rollover.gif" alt="{{ e.title }} (rollover)" class="hide" />
    {%- endfor %}
    </li>
    {%- endif %}
  {%- endfor %}
  </ul>
</nav>
