{% include "components/html_head.njk" %}
{% include "components/header.njk" %}
{% include "components/nav.njk" %}
{% include "components/after_nav.njk" %}

  <div id="main">

  <{% if isFront %}div class="page-title"{% else %}h1{% endif %}>{{ renderData.title or title }}</{% if isFront %}div{% else %}h1{% endif %}>

{% include "components/breadcrumb.njk" %}

  <div class="node">

  </div><!-- /.node -->

  <div class="content">

{{ layoutContent | safe }}

  </div><!-- /.content -->

  </div><!-- /#main -->

<div class="clear"></div>

<div id="bot-left"><div id="bot-right"><div id="bottom">
</div><!-- /#bottom --></div><!-- /#bot-right --></div><!-- /#bot-left -->

<footer>
{% include "components/footer.njk" %}
</footer>

{% include "components/html_foot.njk" %}
