{% include "components/html_head.njk" %}
{% include "components/header.njk" %}
{% include "components/nav.njk" %}
{% include "components/after_nav.njk" %}

  <div id="main">

  </div><!-- /#main -->

<div class="clear"></div>

<div id="bot-left"><div id="bot-right"><div id="bottom">
</div><!-- /#bottom --></div><!-- /#bot-right --></div><!-- /#bot-left -->

<footer>
{% include "components/footer.njk" %}
</footer>

{% include "components/html_foot.njk" %}
