<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
    <head>
    {% include "components/head.njk" %}
    </head>
    <body>

<div id="wrapper">
  <div id="wrapper2">

    <div id="bottom-border">
      <div id="bottom-left"></div>
      <div id="bottom-right"></div>
    </div> <!-- bottom-border -->

  </div> <!-- wrapper2 -->
</div> <!-- wrapper -->

    </body>
</html>
