---
layout: layouts/base.njk
section: home
---
<div class="content">

{{ content | safe }}

{%- if producedBy %}
<div id="front-produced-by-greenash">
{{ producedBy | safe }}
</div>
{%- endif %}

{{ latestNewsHeading | safe }}

(first news item here)
<div class="clear"></div>

{{ hippoImage | safe }}

{%- if hippoCaption %}
<div id="front-hippo-caption">
{{ hippoCaption | safe }}
</div>
{%- endif %}

<div class="clear"></div>

{{ welcomeBlurb | safe }}

{%- if capitalOfChad %}
<div id="front-chad-wrap1"><div id="front-chad-wrap2">
{{ capitalOfChad | safe }}
</div></div>
{%- endif %}

{{ sectionInfo | safe }}

{{ summaryDividerTop | safe }}

{{ summaryList | safe }}

{{ summaryDividerBottom | safe }}

{{ siteNewsHeading | safe }}

(next 3 news items here)
<div class="clear"></div>

</div><!-- /.content -->
