---
layout: layouts/base.njk
---
<div class="content">

{{ content | safe }}

{%- if producedBy %}
<div id="front-produced-by-greenash">
{{ producedBy | safe }}
</div>
{%- endif %}

{%- if collections.news.length %}
{{ latestNewsHeading | safe }}

{%- set newsItems = collections.news | reverse | jsslice(0, 1) %}
{% include "components/news_listing.njk" %}
{%- endif %}

<div class="clear"></div>

{{ hippoImage | safe }}

{%- if hippoCaption %}
<div id="front-hippo-caption">
{{ hippoCaption | safe }}
</div>
{%- endif %}

<div class="clear"></div>

{{ welcomeBlurb | safe }}

{%- if capitalOfChad %}
<div id="front-chad-wrap1"><div id="front-chad-wrap2">
{{ capitalOfChad | safe }}
</div></div>
{%- endif %}

{{ sectionInfo | safe }}

{{ summaryDividerTop | safe }}

{{ summaryList | safe }}

{{ summaryDividerBottom | safe }}

{%- if collections.news.length > 1 %}
{{ siteNewsHeading | safe }}

{%- set newsItems = collections.news | reverse | jsslice(1, 4) %}
{% include "components/news_listing.njk" %}
{%- endif %}

<div class="clear"></div>

</div><!-- /.content -->
